.container{
    margin: 50px 0;
    
}

.card{
    margin: 0 2% !important;
}

.confirmed{
    border-bottom: 10px solid rgb(39, 125, 161);
}

.recovered{
    border-bottom: 10px solid rgb(144, 190, 109);
}

.deaths{
    border-bottom: 10px solid rgb(249, 65, 68)   ;
}